@import url("css reset.html");

body {
  text-align: center;
  padding: 75px 0 0 0;
  background: #2f2840 url("images/bg_body.gif") 50% 0 repeat;
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
  color: black;
  margin: 0;

}

header h1 {
  margin: 0 0 90px 0;
}

nav {
  padding: 10px 0 45px 0;
  text-transform: uppercase;
  font: 24px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  padding: 0 42px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 26px;
}

nav a.active {
  color: blue;
  font-weight: bold;
}

main {
  background: white;
  padding: 100px 0 0 0;
}

.column {
  width: 1000px;
  margin: 0 auto;
}

article h2 {
  padding: 0 0 40px 0;
  font-size: 36px;
  font-weight: 600;
}
/*
article h2:before, article h2:after {
  content: "";
  display: inline-block;
  margin: 0 24px;
  height: 10px;
  width: 10px;
  background-color: black;
  vertical-align: middle;
  border-radius: 5px;
}
*/

article h2:before,
article h2:after {
  content: "\2022";
  display: inline-block;
  padding: 0 24px;
  font-size: 24px;
  vertical-align: 5px;
}

article h3 {
  padding: 0 0 20px 0;
  font-size: 24px;
  color: blue;
}

#projects article img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

#projects article {
  padding: 0 0 50px 0;
}

#projects p {
  padding: 0 110px;
}

#team li {
  display: inline-block;
  padding: 0 20px;
}

#team img {
  display: block;
  padding-bottom: 30px;
}

#team li a {
  text-decoration: none;
}

#team article {
  padding: 0 0 225px 0;
}

#team p {
  padding: 0 110px 100px 110px;
}

main article {
  padding: 0 110px 100px 110px;
}

footer {
  padding: 80px 0;
  background: grey;
}

footer p {
  padding-bottom: 50px;
}

footer li {
  display: inline-block;
  padding: 0 62px;
}

footer li a {
  display: block;
  height: 46px;
  width: 46px;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
}

footer li a.facebook {
  background-position: 0 -46px;
}

footer li a.email {
  background-position: 0 -92px;
}

footer li a.instagram {
  background-position: 0 100%;
}