include /_mixins

doctype html
html
  head
    title Sushi Restaurant Website
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/main.css')
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("handlebarsTemplates")
  body
    header
      a(class="logo" href="#")
        img(src="/images/logo.png" alt="logo")
      div(class="cart")
        a(href="#")
          span(class="left") Shopping Cart
          span(class="right") <!--
          |--><span class="count">0</span>
          |items
          |</span>
    main
      #content

    +javascript_include_tag("application")
    +javascript_include_tag("models/menuItem")
    +javascript_include_tag("collections/menuItems", "collections/cartItems")
    +javascript_include_tag("views/menu", "views/item", "views/cart", "views/checkout", "views/checkoutItem", "views/singleItem")
    script(type="text/javascript").
      App.menuItems = new menuItems(!{JSON.stringify(menu)});
    +javascript_include_tag("router")