@import url("whitespacereset.css");

body {
  font: normal 20px Helvetica, Arial, sans-serif;
  text-align: justify;
}

a {
  text-decoration: none;
}

body > header {
  background-color: #3D3D3D;
  padding: 130px 0 55px 0;
}

header h1 {
  font-size: 68px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 20px;
  text-align: center;
  background: transparent url("images/logo.png") 50% 100% no-repeat;
  padding-bottom: 125px;
  margin-bottom: 135px;
}

header a {
  color: white;
}

header a.active {
  color: #50C3AF;
  font-weight: bold;
}

header ul {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

header li {
  display: inline-block;
  padding: 0 25px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0 90px 0;
  color: #45494D;
}

#content {
  padding: 0 11.5% 0 0;
  float: left;
  width: 65%;
  line-height: 150%;
}

main article {
  padding: 0 0 65px 0;
}

main article h2 {
  font-size: 2em;
  padding-bottom: 30px;
}

header p {
  padding-bottom: 40px;
}

article a {
  color: #50C3AF;
}

.buttons {
  margin-bottom: 90px;
  font-size: 14px;
  display: inline-block;
}

.buttons a {
  padding: 5px 25px;
  border-radius: 20px;
  color: white;
}

.buttons .inactive {
  background: #d2d5da;
}

.buttons .active {
  background: #50c3af;
  margin-left: 25px;
}
#sidebar {
  font-size: .85em;
  overflow: hidden;
  background: #f6f7f8;
  padding: 0 20px;
  margin: 0 10px;
}

#sidebar a {
  color: #45494D;
}

#sidebar li {
  list-style: url("images/blt_ul.png");
  padding: 0 0 5px 0;
}

#sidebar ul {
  padding-left: 20px;
}

#sidebar h3 {
  text-transform: uppercase;
  padding-bottom: 35px;
}

div .block {
  padding: 40px 0 120px 0;
}

footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px 0 30px 0;
  font-size: 12px;
  border-top: 1px solid #d0d0d0;
  clear: left;
}




@media (max-width: 768px) {
  #content {
    padding-left: 20px;
  }
  #sidebar {
    padding-right: 10px;
  }
  body > header {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}


@media (max-width: 600px) {
  #sidebar {
    clear: left;
  }
  div.block {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
  #content {
    float: none;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10px;
  }

}

@media (max-width: 480px) {
  #sidebar {
    background: white;
    padding: 0 25px;
  }
  #sidebar div.block {
    background: #f6f7f8;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
  }
}