<h1>Welcome to Rock Paper Scissors!</h1>

<p><a href="/opponents/select">Sign in as Guest</a></p>
<p><a href="/newuser">Create new User</a></p>
<p><a href="/signin">Log In</a></p>
<a href="/hall_of_fame">Hall of Fame</a>

