<!doctype html>
<html lang="en-US">
  <head>
    <title>Rock Paper Scissors</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <main>
      <%== yield %>
    </main>
    <% if session[:message] %>
      <p><%= session.delete(:message) %></p>
    <% end %>
    <p><%== yield_content :footer_link %>
  </body>
</html>