<h1>Select your Symbol</h1>

<ul>
  <% @move_list.each do |move| %>
  <li>
    <form class="inline" method="post" action="/human_move/<%= move %>">
      <button type="submit"><img src="<%= move %>.jpg"><%= move %></button>
    </form> 
  </li>
  <% end %>
</ul>

<% unless @log.human_history.empty? %>
  <% @log.human_history.each_with_index do |symbol, index| %>
    <ul>
      <li><%= display_history(symbol, @log.computer_history[index]) %></li>
    </ul>
  <% end %>
<% end %>