header h1,
header h3,
footer {
  text-align: center;
}

main,
footer {
  margin: 0 20px;
}

main header {
  background-color: grey;
  margin-bottom: 20px;
}

input[name="search"] {
  float: right;
}

form input {
  width: 60%;
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5em;
}

header {
  background-color: blue;
  padding: 20px;
}

footer {
  border-top: 1px solid black;
  font-style: italic;
  padding: 20px;
  margin-top: 50px;
  clear: both;
}

.singleContact {
  display: inline-block;
  width: 150px;
  height: 150px;
  float: left;
}

.container:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

li {
  display: inline-block;
}

main a,
li a {
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  text-decoration: none;
}

main a:hover,
li a:hover {
  background-color: blue;
  color: white;
}

dl {
  margin: 10px 0 15px 0;
  box-sizing: border-box;
}

form dt,
form dd {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 30px;
}

form dt {
  width: 25%;
  text-align: right;
}

form dd {
  width: 70%;
  padding-left: 40px;
}

form a {
  padding: 10px 20px;
}

form ul {
  margin-left: 35%;
}

form li {
  margin: 0 10px 0 0;
}

.forms {
  display: none;
}

.formTitle {
  text-align: center;
  padding: 20px 40px;
  border-bottom: 1px solid black;
  width: 700px;
  display: block;
  margin: 25px auto;
}

.error {
  color: red;
}

.inputError {
  border: 1px solid red;
}

.invisible {
  display: none;
}

.help {
  margin-left: 25.5%;
}